<h2 class="content-block">Status</h2>

<dx-data-grid class="dx-card wide-card"
  [dataSource]="dataSource"
  [showBorders]="false"
  [focusedRowEnabled]="true"
  [focusedRowIndex]="0"
  [columnAutoWidth]="true"
  [columnHidingEnabled]="true">

  <dxo-paging [pageSize]="10"></dxo-paging>
  <dxo-pager [showPageSizeSelector]="true" [showInfo]="true"></dxo-pager>
  <dxo-filter-row [visible]="true"></dxo-filter-row>

  <dxi-column
    dataField="Task_ID"
    [width]="160"
    caption="ID"
    [hidingPriority]="2"
    [allowEditing]="false">
  </dxi-column>
  <dxi-column
    dataField="Task_Subject"
    [width]="500"
    caption="Name"
    [hidingPriority]="8">
  </dxi-column>
  <dxo-editing
  mode="popup"
  [allowUpdating]="true"
  [allowDeleting]="true"
  [allowAdding]="true">
</dxo-editing>
</dx-data-grid>
